<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa optio maxime neque quia cumque laborum numquam!
    Distinctio delectus ut voluptatibus, sunt quia magnam unde. Alias necessitatibus nihil facere nisi voluptates ipsa
    vel, obcaecati tempore ab illo laboriosam minima incidunt molestias dolores debitis laborum consequatur est fuga
    eius rerum velit ducimus. At nesciunt maiores ducimus fugit hic eos exercitationem possimus, numquam aperiam,
    quibusdam vitae qui. Quis laboriosam est nesciunt fuga dolore enim reprehenderit repellat dicta qui! Quis provident
    odit, cupiditate, necessitatibus aliquam maiores id eveniet quod aperiam facilis dolor, quidem dolorem totam
    aspernatur atque fugiat distinctio quasi dignissimos amet laboriosam.</p>


</div>

<div>{{x.plate}}</div>
<div>{{x.plate | uppercase}}</div>
<div>{{x}}</div>
<div>{{y | json}}</div>
